
<script src="/static/assets/vendors/js/vendor.bundle.base.js"></script>
<script src="/static/assets/vendors/js/vendor.bundle.addons.js"></script>
<script src="/static/assets/js/shared/off-canvas.js"></script>
<script src="/static/assets/js/shared/misc.js"></script>
<script src="/static/assets/vendors/js/jquery-1.11.3.min.js"></script>
<script src="/static/assets/vendors/js/bootstrap.min.js"></script>
<script src="/static/assets/vendors/js/modernizr.min.js"></script>
<script src="/static/assets/vendors/js/jquery.easing.1.3.js"></script>
<script src="/static/assets/vendors/js/jquery.scrollUp.min.js"></script>
<script src="/static/assets/vendors/js/jquery.easypiechart.js"></script>
<script src="/static/assets/vendors/js/jquery.countTo.js"></script>
<script src="/static/assets/vendors/js/isotope.pkgd.min.js"></script>
<!-- <script src="/static/assets/vendors/js/jflickrfeed.min.js"></script> -->
<script src="/static/assets/vendors/js/jquery.fitvids.js"></script>
<script src="/static/assets/vendors/js/jquery.stellar.min.js"></script>
<script src="/static/assets/vendors/js/jquery.waypoints.min.js"></script>
<script src="/static/assets/vendors/js/wow.min.js"></script>
<script src="/static/assets/vendors/js/jquery.nav.js"></script>
<script src="/static/assets/vendors/js/imagesloaded.pkgd.min.js"></script>
<script src="/static/assets/vendors/js/smooth-scroll.min.js"></script>
<script src="/static/assets/vendors/js/jquery.magnific-popup.min.js"></script>
<script src="/static/assets/vendors/js/jquery.sliderPro.min.js"></script>
<script src="/static/assets/vendors/js/owl.carousel.min.js"></script>
<script src="/static/assets/vendors/js/custom.js"></script>
<!-- <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script> -->
<script type="text/javascript">
    $('#btn1').on('click',function () {
        $('#btn1').toggleClass('btnc');
        $('nav#sidebar').toggleClass('side');
        // window.alert("world!")
    })
</script>