
{% extends "layouts/base.html" %}

{% block title %} Blank Page {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" href="/static/assets/css/shared/subcontrol_nav.css">
{% endblock stylesheets %}

{% block content %}

    <div class="content-wrapper"> 
        <nav class="navbar navbar-expand-custom navbar-mainbg">
          <a class="navbar-brand navbar-logo" href="#">分控制台</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars text-white"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                  <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
                  <li class="nav-item">
                      <a class="nav-link" href="javascript:void(0);"><i class="far fa-chart-bar"></i>固件信息提取</a>
                  </li>
                  <li class="nav-item active">
                      <a class="nav-link" href="javascript:void(0);"><i class="far fa-calendar-alt"></i></i>固件终端交互</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="javascript:void(0);"><i class="far fa-clone"></i>WEB服务接口测试</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="javascript:void(0);"><i class="fas fa-tachometer-alt"></i>模糊测试</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="javascript:void(0);">返回总控制台</a>
                  </li>
              </ul>
          </div>
      	</nav>


    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script src="/static/assets/js/shared/subcontrol_nav.js"></script>
{% endblock javascripts %}
